<div data-bind="visible:visible" style="white-space:nowrap;">
	<!-- ko ifnot: isCheckbox -->
		<div data-bind="css:{'disabled':!enabled()}" class="md__input inline-block">
			<input type="checkbox" class="switch" data-bind="checked: value, enabled: enabled, attr:{'id': id}">
		</div>
	<!-- /ko -->
	<!-- ko if: isCheckbox -->
	<div>
		<div class="md__input inline-block">
			<input type="checkbox" class="" data-bind="checked: value, enabled: enabled, attr:{'id': id}">
		</div>
	</div>
	<!-- /ko -->
</div>
