.flex{
	display: flex;
}
.inline--flex{
	display: inline-flex;
	justify-content: space-between;
}
.inline--block{
	display: inline-block;
	vertical-align: middle;
}
.flex--column{
	flex-direction: column;
}
.vm--align{
	vertical-align: middle;
}
.svg-inline--fa{
	vertical-align: middle;
}
.separator{
	width: 1px;
	height: 25px;
	margin: 5px;
	background: #ccc;
	display: inline-flex;
	vertical-align: middle;
}
.no--padding{
	padding: 0rem !important;
}
.float--right{
	margin-left: auto;
	margin-right: 10px;
}
.mtop--5{
	margin-top: 5px;
}
.mtop--10{
	margin-top: 10px;
}
.mtop--15{
	margin-top: 15px;
}
.mtop--20{
	margin-top: 20px;
}
.mtop--25{
	margin-top: 25px;
}
.mtop--30{
	margin-top: 30px;
}
.mtop--35{
	margin-top: 35px;
}

.mright--5{
	margin-right: 5px;
}
.mright--10{
	margin-right: 10px;
}
.mright--15{
	margin-right: 15px;
}
.mright--20{
	margin-right: 20px;
}
.mright--25{
	margin-right: 25px;
}
.mright--30{
	margin-right: 30px;
}
.mright--35{
	margin-right: 35px;
}

.mleft--5{
	margin-left: 5px;
}
.mleft--10{
	margin-left: 10px;
}
.mleft--15{
	margin-left: 15px;
}
.mleft--20{
	margin-left: 20px;
}
.mleft--25{
	margin-left: 25px;
}
.mleft--30{
	margin-left: 30px;
}
.mleft--35{
	margin-left: 35px;
}

.visible--xs{
	display: none;

	@media screen and (max-width: 768px) {
		display: inline-block;
	}
}
.hidden-xs{
	display: inline-block;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.flex--1{
	flex-grow: 1;
	display: inline-flex;
}
.flex--2{
	flex-grow: 2;
	display: inline-flex;
}
.flex--3{
	flex-grow: 3;
	display: inline-flex;
}

.flex--column{
	flex-direction: column;
}
.flex--row{
	flex-direction: row;
}

.disabled{
	opacity: 0.5;
	pointer-events: none;
}
.pointer{
	cursor: pointer;
}
.row{
	width: 100%;
}
.img--responsive{
	max-width: 100%;
}